@page
@model CVDLS.Pages.Location.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Index</h1>
<!--Check if user has management privileges-->
@if (SignInManager.IsSignedIn(User))
{
    if (User.Identity.Name.Contains("manager"))
    {
        <!--Provide option to add to table-->
        <p>
            <a asp-page="Create">Create New</a>
        </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Stationary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].Coordinates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].DateRecorded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].TagsInLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Location)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stationary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecorded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagsInLocation)
            </td>
            <!--Check if user has management privileges-->
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.Identity.Name.Contains("manager"))
                {
                    <!--Provide additional actions-->
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.LocationID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.LocationID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.LocationID">Delete</a>
                    </td>
                }
            }
                </tr>
        }
    </tbody>
</table>
}
else
{
    <div>
        <!--Provide links for unidentified users-->
        <p>
            Please <a href=Identity/Account/Login>log in</a> or <a href="Identity/Account/Register">register</a> to see if you have permission to take this action.
        </p>
    </div>
}